<!DOCTYPE html>
<html lang="en">
<head>
	<title>Predict</title>
	<!-- <link rel="stylesheet" type="text/css" href="../static/css/style.css"> -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">

	<style >
		 body {
           background: url(../static/img/background/);
			 background-repeat: no-repeat;
			background-size: cover;
			 background-position:50% 50%;
			 text-align: center;
        }
	</style>
</head>
<body>


	   <div  align="left">
			<ul>
				<li><a href="{{ url_for('home') }}">Home </a></li>

				<li><a  href="{{ url_for('about') }}">About </a></li>

				<li><a  href="{{ url_for('predict') }}">Predict </a></li>
			</ul>
		</div>

	<div class="centering-xy" >
		<form  name='f1' action= "{{ url_for('predict_result') }}"  method="POST">
           <div class="icon-container"><h6>Enter Your RNA Sequences Here</h6></div>


			<!-- <input type="text" name="comment"/> -->
			<textarea name="message" rows="50" cols="50"  placeholder="ACGTTCGAAC or Fasta Sequence"></textarea>

			<br/>

			<h6>The minimum sequence length is 20nt</h6>

			<input type="submit" class="btn-info" value="Predict">
			<br/>

		</form>
	</div>

<!--		<form name='f2' action="{{ url_for('file_predict')}}" method="POST">-->

<!--			<input class="btn-info" type="file" name="file">-->
<!--			<button name="fileBtn" type="submit">File Predict</button>-->

<!--		</form>-->

	<!-- jquery -->
	<script type="text/javascript" src="../static/js/jquery.js"></script>

	<!-- bootstrap -->
	<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
	<!-- other plugins -->
	<script type="text/javascript" src="../static/js/plugins.min.js"></script>
	<!-- google map -->
	<!-- main js -->
	<script type="text/javascript" src="../static/js/main_slideshow.js"></script>
	

</body>
</html>
